<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../App/layndon/css/index.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>
    

{% block list_films %}{% endblock %}

<div class="container">
    <form class="form-signin" action="api.php" method="post">
        <img id="logo" src="../App/layndon/img/cine.jpg">
        <h2 class="form-signin-heading">LAYNDON</h2>
        <label for="inputFilm" class="sr-only">Pelicula</label>
        <input id="inputFilm" name= "film" class="form-control" placeholder="Titulo Pelicula" required="" autofocus="" type="text">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Añadir</button>
    </form>    
  </div>
</body>
</html>