{% extends 'master.twig' %}

{% block css %}
        <link rel="stylesheet" type="text/css" href="../../App/layndon/css/contact.css">
{% endblock %}

{% block contact %}
    <section class="container mt-5">
    	<div class="row justify-content-between mb-5">
        	<div class="col-md-6 d-none d-lg-block">
                <h1>NOS ENCONTRAMOS EN :</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fugiat distinctio accusantium soluta, cum nisi earum rerum doloribus, cumque fugit praesentium labore, fuga nam ratione possimus mollitia dolor impedit ipsum.</p>        		
        	</div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1558.5286847432308!2d-0.5777370436553908!3d38.62456125193317!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc209329db10827b6!2sTeatro+R%C3%ADo!5e0!3m2!1ses!2ses!4v1521387966660" width="400" height="300" frameborder="0" style="border:0" allowfullscreen class="border border-success rounded"></iframe>
        </div>

        <h1 class="text-center">FORMULARIO DE CONTACTO</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, vero laudantium illum accusamus ipsam, asperiores eligendi modi obcaecati dolores id cumque neque animi officiis iste at libero. Veritatis, nemo, dignissimos!</p>
        
        <div class="row justify-content-center">
            <div class="col-md-8">
            	<form action="" class="justify-content-center flex-column d-flex">
                    <div class="form-group my-2">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    </div>
                    <div class="form-group my-2">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group ml-auto">
                        <input type="button" value="Enviar" class="btn btn-danger">
                    </div>
                </form>        	
            </div>                            		
    	</div>
	
    </section>
{% endblock %}