{% extends 'master.twig' %}

{% block history %}
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">Somos Layndon!!</h2>
		<p class="lead text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, labore consequatur nostrum eius vitae. Ut similique error in. Laboriosam quo ex, a ratione hic reprehenderit. Illo sunt amet, totam dolor.</p>
		<p class="lead text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore et, deleniti laborum sit impedit, debitis vel saepe vitae beatae aliquam, ad molestias nam voluptatum dolores provident, corporis placeat qui eligendi?</p>
	</div>
	<div class="col-md-5">
		<img src="../App/layndon/img/cine.jpg" class="featurette-image img-fluid mx-auto">
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h2 class="">LayndonTeam</h2>
	</div>
	<div class="col d-flex justify-content-around mt-5">
		<img class="img-thumbnail border border-primary" src="../App/layndon/img/avatar.png" alt="">
		<img class="img-thumbnail border border-success" src="../App/layndon/img/avatar.png" alt="">
		<img class="img-thumbnail border border-danger" src="../App/layndon/img/avatar.png" alt="">
		<img class="img-thumbnail border border-warning" src="../App/layndon/img/avatar.png" alt="">
	</div>
</div>

{% endblock %}  
