body{
  background-color: black;
}

#poster{
	width: 50px;
}

#delete-film{
	text-align: right;
}

#delete-image,#see-image{
  width: 20px;
}
#edit-image{
	width: 40px;
}

#logo{
  display:block;
  margin:0 auto 0 auto	
}