/* Details film */

body{
  background-color: black;
}

#poster{
  /*display: flex;*/
  align-items: left;
}

#film{
  align-items: left;
}

#film td{
  color: white;
}


.footer{
    position: fixed;   
    bottom: 0;
    width: 100%;
    background-color: #202020;
    color: white;
    
}

.footer-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.footer-row p{
  font-style: italic;
  font-size: 10px;
  text-align: center;
}

footer .social-button{
  text-align: center;
}